annotated-types==0.5.0
antlr4-python3-runtime==4.8
audioread==3.0.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.2
decorator==5.1.1
editdistance==0.6.2
ffmpeg-python==0.2.0
filelock==3.12.3
Flask==2.3.3
fonttools==4.42.1
fsspec==2023.9.0
future==0.18.3
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-speech==2.21.0
googleapis-common-protos==1.60.0
grpcio==1.57.0
grpcio-status==1.57.0
huggingface-hub==0.16.4
hydra-core==1.0.7
idna==3.4
inflect==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.9.1
llvmlite==0.40.1
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.2
more-itertools==10.1.0
msgpack==1.0.5
numba==0.57.1
numpy==1.23.5
omegaconf==2.0.6
opencv-python==4.8.0.76
packaging==23.1
pandas==2.1.0
pesq==0.0.4
Pillow==10.0.0
platformdirs==3.10.0
pooch==1.7.0
portalocker==2.7.0
proto-plus==1.22.3
protobuf==4.24.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
pyparsing==3.0.9
pystoi==0.3.3
python-dateutil==2.8.2
python-speech-features==0.6
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
rsa==4.9
sacrebleu==2.3.1
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
soundfile==0.12.1
soxr==0.3.6
tabulate==0.9.0
textdistance==4.5.0
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.66.1
transformers==4.33.0
typing_extensions==4.7.1
tzdata==2023.3
Unidecode==1.3.6
urllib3==1.26.16
Werkzeug==2.3.7
whisper==1.0
gunicorn==21.2.0
jiwer==3.0.3
