<!DOCTYPE html>
    <head>
        <title>VSG Demo</title>
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.msgpack.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <h2><u>Visual Speech Generator:</u></h2>
        
        <canvas id="frame-canvas" hidden></canvas>

        <div>
            <div id="controls">
                {% if checkpoint_ids %}
                    <div id="checkpoint-selection">
                        <h3>Model Selection</h3>
                        <select id="checkpoint-source">
                            {% for checkpoint_id in checkpoint_ids %}
                                <option value="{{ checkpoint_id }}">{{ checkpoint_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <br><hr>

                <div id="audio-selection">
                    <h3>Audio Selection (for speaker characteristics)</h3>
                    <h5>NOTE: Priority is given to an uploaded audio file</h5>
                    {% for audio_id, audio_name in default_audios.items() %}
                        <div class="audio-container">
                            <input type="radio" value="{{ audio_id }}" name="checked-audio"/>
                            <label class="audio-name">{{ audio_name }}:</label>
                            <audio src="/audio/{{ audio_id }}" type="audio/wav" controls></audio>
                        </div><br>
                    {% endfor %}<br>
                    <input id="audio-upload" type="file"/><br>
                </div>

                <br><hr>

                <div id="recorded-input">
                    <h3>Webcam Record</h3>
                    Video Source: <select id="video-source"></select>
                    <button id="camera-settings">Camera Settings</button><br><br>
                    <video id="video" height="400" width="600" autoplay muted playsinline></video><br><br>
                    <button id="start">Record</button>
                    <button id="stop">Synthesise</button><br>
                </div>

                <br><hr>

                <div id="uploaded-input">
                    <h3>Video Upload</h3>
                    <input id="video-upload" type="file"/><br>
                    <button id="upload">Synthesise</button><br>
                </div>
            </div>

            <div id="history-container">
                <h3>History</h3>
                <button id="clear">Clear All</button>
                <div id="history"></div>
            </div>
        </div>
    </body>

    <style>
        html, body {
            height: 100%; 
            overflow: hidden
        }
        body {
            margin-left: 10px; 
            padding-left: 10px;
        }
        #controls {
            width: 50%;
            float: left;
            overflow: auto;
            max-height: 80vh;
        }
        #history {
            width: 50%;
            float: right;
            overflow: auto;
            max-height: 80vh;
        }
        .history-element {
            height: 425px;
        }
        .video-div {
            width: 60%;
            float: left;
            height: 100%;
        }
        .stats-div {
            width: 40%;
            float: right;
            height: 100%;
        }
        #controls hr {
            width: 75%;
            margin-left: 0;
        }
        fieldset {
            min-width: auto;
            display: inline;
        }
        .history-element .history-counter {
            display: inline;
        }
        .audio-container {
            width: 75%;
        }
        .audio-container audio {
            float: right;
        }
    </style>

    <script>
        "use strict";

        var video = document.getElementById("video");
        var videoSelect = document.getElementById("video-source");
        var startBtn = document.getElementById("start");
        var stopBtn = document.getElementById("stop");
        var uploadBtn = document.getElementById("upload");
        var clearBtn = document.getElementById("clear");
        var cameraSettingsBtn = document.getElementById("camera-settings");

        videoSelect.onchange = getStream;
        uploadBtn.onclick = uploadVideo;
        clearBtn.onclick = clearHistory;
        cameraSettingsBtn.onclick = showCameraSettings;
        startBtn.disabled = true;
        stopBtn.disabled = true;

        var camAvailable = false;
        var historyCounter = 0;
        var useASR = {{ web_client_run_asr }};
        var useStreaming = {{ web_client_streaming | tojson }};
        var chunks = [];

        getStream().then(getDevices).then(gotDevices);

        function assert(x, y, msg) {
            if (x !== y)
                alert(msg);
        }

        function fireToast(text, html, icon) {
            Swal.fire({
                title: "VSG",
                text: text,
                html: html,
                icon: icon
            });
        }

        function showCameraSettings() {
            var cameraSettingsText = "None";

            if (window.stream) {
                var cameraSettings = window.stream.getVideoTracks()[0].getSettings();
                cameraSettingsText = "Frame Rate: " + cameraSettings.frameRate + " fps<br>";
                cameraSettingsText += "Width: " +  cameraSettings.width + "<br>";
                cameraSettingsText += "Height: " + cameraSettings.height;
            }

            fireToast(null, cameraSettingsText, "info");
        }

        function getDevices() {
            return navigator.mediaDevices.enumerateDevices();
        }

        function gotDevices(deviceInfos) {
            window.deviceInfos = deviceInfos;
            for (const deviceInfo of deviceInfos) {
                const option = document.createElement("option");
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === "videoinput") {
                    option.text = deviceInfo.label || "Camera ${videoSelect.length + 1}";
                    videoSelect.appendChild(option);
                }
            }
        }

        function getStream() {
            if (window.stream) {
                window.stream.getTracks().forEach(track => {
                    track.stop();
                });
            }
            const videoSource = videoSelect.value;
            const constraints = {
                video: {
                    deviceId: videoSource ? {exact: videoSource} : undefined
                }
            };
            return navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream;
            videoSelect.selectedIndex = [...videoSelect.options].findIndex(option => option.text === stream.getVideoTracks()[0].label);
            startBtn.removeAttribute("disabled");
            camAvailable = true;
            video.srcObject = stream
            
            var canvas;

            if (useStreaming) {
                canvas = document.getElementById("frame-canvas");
                const canvasContext = canvas.getContext("2d");
                canvas.width = video.clientWidth;
                canvas.height = video.clientHeight;
                if (window.updateCanvasInterval)
                    clearInterval(window.updateCanvasInterval);
                window.updateCanvasInterval = setInterval(() => {
                    canvasContext.drawImage(video, 0, 0, canvas.width, canvas.height);
                }, 10); // 0.01 seconds
                
                var socket = null;
            }

            const recorder = new MediaRecorder(stream);

            startBtn.onclick = function() {
                recorder.start();
                stopBtn.removeAttribute("disabled");
                startBtn.disabled = true;
                startBtn.textContent = "Recording...";

                if (useStreaming) {
                    var frameIndex = 0;
                    var protocol = location.protocol == "https:" ? "wss:" : "ws:";

                    // doesn't allow HTTP long-polling transport
                    socket = io(protocol + "//" + location.host, { transports: ["websocket"] });
                    window.sendFrameInterval = setInterval(() => {

                        canvas.toBlob((frameBlob) => {
                            objToBinary(frameBlob).then((frameBinary) => {
                                socket.emit("frame", frameIndex++, frameBinary);
                            });
                        }, "image/jpeg", 0.8); // default quality = 0.92

                    }, 40); // 25fps = 1 second / 25 frames = 0.04 seconds
                }
            };
            stopBtn.onclick = function() {
                recorder.stop();
            };

            recorder.onstop = function(e) {
                startBtn.textContent = "Record";
                stopBtn.disabled = true;
                stopBtn.textContent = "Please Wait...";
                
                clearInterval(window.sendFrameInterval);
                
                getAudioInput(function(audioId, audioFile) {
                    var checkpointId = getCheckpointId();

                    if (useStreaming) {
                        // measure time taken
                        var startTime = performance.now();

                        objToBinary(audioFile).then((audioBinary) => {
                            socket.emit("end_stream", checkpointId, audioId, audioBinary, useASR);
                        });
                        
                        socket.on("synthesise_response", (response, status_code) => {
                            handleResponse(response, status_code, checkpointId, startTime);
                            socket.disconnect(); // runs emit("disconnect")
                        });
                    } else {
                        const blob = new Blob(chunks, {type: "video/webm"});
                        synthesise(blob, checkpointId, audioId, audioFile);
                        chunks = [];
                    }
                });
            };

            if (!useStreaming) {
                recorder.ondataavailable = function(e) {
                    if (e.data.size > 0)
                        chunks.push(e.data);
                };
            }
        }

        function handleError(error) {
            console.error("Error: ", error);
        }

        async function objToBinary(obj) {
            if (!obj)
                return null;

            return await obj.arrayBuffer();
        }

        function getCheckpointId() {
            return document.getElementById("checkpoint-source").value;
        }

        function getAudioInput(callback) {
            var audioId = null;
            var audioFile = document.getElementById("audio-upload").files[0];
            var checkedAudio = document.querySelector("input[name='checked-audio']:checked");
            if (checkedAudio)
                audioId = checkedAudio.value;

            callback(audioId, audioFile);
        }

        function handleResponse(jsonResponse, statusCode, checkpointId, startTime) {
            if (statusCode != 200)
                fireToast(jsonResponse["message"], null, "error");
            else {
                var videoId = jsonResponse["videoId"];
                var asrPredictions = jsonResponse["asrPredictions"];

                var asrText = null;
                if (asrPredictions.length > 0) {
                    var asrText = "<br>Whisper ASR Predictions:<br>";
                    for (var i = 0; i < asrPredictions.length; i++) {
                        asrText += (i+1) + ": " + asrPredictions[i] + "<br>";
                    }
                    asrText += "<br>";
                }

                var timeTaken = (performance.now() - startTime) / 1000;
                timeTaken = Math.round(timeTaken * 100 + Number.EPSILON) / 100;
                var timeTakenText = "Time Taken: " + timeTaken + " seconds<br>";

                appendToHistory(videoId, checkpointId, asrText, timeTakenText);
            }
            resetDOM();
        }

        function synthesise(videoData, checkpointId, audioId, audioFile) {
            // create form data
            var formData = new FormData();
            formData.append("video", videoData);
            if (audioFile)
                formData.append("audio", audioFile);

            var requestArgs = "cid=" + checkpointId + "&asr=" + useASR;
            if (audioId)
                requestArgs += "&aid=" + audioId;

            // measure time taken
            var startTime;

            var xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function(event) {
                handleResponse(xhr.response, xhr.status, checkpointId, startTime);
            });
            xhr.open("POST", "/synthesise?" + requestArgs);
            xhr.responseType = "json";
            startTime = performance.now();
            xhr.send(formData);
        }

        function resetDOM() {
            if (camAvailable)
                startBtn.removeAttribute("disabled");
            stopBtn.textContent = "Synthesise";
            uploadBtn.removeAttribute("disabled");
            uploadBtn.textContent = "Synthesise";
        }

        function uploadVideo() {
            var videoFile = document.getElementById("video-upload").files[0];
            if (!videoFile) {
                fireToast("Please select a video file", null, "error");
            } else {
                uploadBtn.disabled = true;
                uploadBtn.textContent = "Please Wait...";

                getAudioInput(function(audioId, audioFile) {
                    synthesise(videoFile, getCheckpointId(), audioId, audioFile);
                });
            }
        }

        function appendToHistory(videoId, checkpointId, asrText, timeTakenText) {
            var div = document.createElement("div");
            var videoDiv = document.createElement("div");
            var statsDiv = document.createElement("div");

            div.className = "history-element";
            videoDiv.className = "video-div";
            statsDiv.className = "stats-div";

            div.innerHTML = '<br><p class="history-counter">' + ++historyCounter + ': </p><button class="remove-element-btn" onclick="removeFromHistory(this)">Remove</button><br>';
            videoDiv.innerHTML = '<video src="/video/' + videoId + '" height="400" width="500" type="video/mp4" autoplay controls></video>';
            statsDiv.innerHTML += "Model Used: " + checkpointId + "<br>";
            if (asrText)
                statsDiv.innerHTML += asrText;
            statsDiv.innerHTML += timeTakenText;
            div.appendChild(videoDiv);
            div.appendChild(statsDiv);

            document.getElementById("history").appendChild(div);
            div.scrollIntoView();
        }

        function removeFromHistory(button) {
            // get containing div
            var parentDiv = button.parentNode;
            parentDiv.remove();

            // reset counter of history elements
            historyCounter = 0;
            var historyDiv = document.getElementById("history");
            var historyElements = historyDiv.childNodes;
            for (var i = 0; i < historyElements.length; i++) {
                var historyElement = historyElements[i];
                historyElement.getElementsByClassName("history-counter")[0].innerText = ++historyCounter + ": ";
            }
        }

        function clearHistory() {
            document.getElementById("history").innerHTML = "";
            historyCounter = 0;
        }

    </script>
</html>